{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}

          >
            <span>
              {%- if product.selected_or_first_available_variant == null -%}
                {{ 'products.product.unavailable' | t }}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}

          {% render "calculador-frete" %}

          <div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem50 _1fragem6t _1fragem3c _1fragemp9 _1fragempg"><h2 id="shippingMethod" class="n8k95w1 n8k95w0 _1fragemn2 n8k95w3 n8k95wg">Forma de frete</h2><div class="jHvVd"><div><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem5a _1fragem73 _1fragem3c _1fragemp9 _1fragempg"><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem4q _1fragem6j _1fragem3c _1fragemp9 _1fragempg"><div class="sqcDF"><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem3c _1fragemp9 _1fragempg"><fieldset id="shipping_methods"><legend class="_1fragemty">Escolha uma forma de frete</legend><div><div class="yyi4nyn yyi4nyk yyi4nyr yyi4nys"><div class="_1u2aa6m3 _1u2aa6ma _1u2aa6mc _1u2aa6m8 yyi4nyg yyi4nyc _1fragemox _1fragemuw"><div class="_1u2aa6m10 _1u2aa6mx _1fragemn2 _1fragem41 _1fragem6o _1u2aa6m15 _1u2aa6m1d _1fragemp6 _1u2aa6m16 yyi4nyh yyi4nyd _1fragemoy _1fragemuw"><div class="_6hzjvo3 _1fragemn2 _6hzjvoe"><input type="radio" id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238" name="shipping_methods" aria-describedby="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238-secondary shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238-details" class="_6hzjvo5 _6hzjvo4 _1fragemp6 _1fragem32 _1fragemud _1fragemu7 _1fragemuk _6hzjvo9 _6hzjvo7 _1fragemuw"></div><div><label for="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238" data-option-selected="true" class="_1u2aa6m1d _1fragemp6"><div class="_1fragem32 _1fragemn2 Is9PW"><p class="_1tx8jg70 _1fragemn2 _1tx8jg717 _1tx8jg71f _1tx8jg71h">Entrega local</p></div></label><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238-details"></div></div><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238-secondary" class="_1u2aa6me _1u2aa6mj"><strong class="_19gi7yt0 _19gi7yt8 _19gi7yto _19gi7yth _1fragempj _19gi7yt16 _19gi7yt1e _19gi7yt1p _1fragem3h">Grátis</strong></div></div><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-b3755f5087dcf07d62610c13b6a94238-collapsible" class="_94sxtb1 _94sxtb0 _1fragemkz _1fragemle _1fragemn2 _1fragemuk _94sxtbd _94sxtb6 _1fragemu9" style="height: auto; overflow: visible;"><div><div class="_1u2aa6mm _1u2aa6mr _1u2aa6mu"><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem5a _1fragem73 _1fragem3c _1fragemp9 _1fragempg"><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem50 _1fragem6t _1fragem3c _1fragemp9 _1fragempg"><div class="_1fragem32 _1fragemn2"><div class="_7ozb2u2 _7ozb2u1 _1fragem4g _1fragem69 _1fragemn2 _1fragem41 _10vrn9p1 _10vrn9p0 _10vrn9p4 _7ozb2u4 _7ozb2u3 _1fragemox"><div class="cektnc0 _1fragemn2 cektnc5"><label id="TextField6-label" for="TextField6" class="cektnc3 cektnc1 _1fragemms _1fragemtx _1fragemur _1fragemud _1fragemu8 _1fragemun _1fragemuo"><span class="cektnca"><span class="rermvf1 rermvf0 _1fragemkz _1fragemle _1fragem32">Telefone celular</span></span></label><div class="_7ozb2u6 _7ozb2u5 _1fragemn2 _1fragem41 _1fragemp7 _1fragemud _1fragemu8 _1fragemun _1fragemuq _7ozb2uc _7ozb2ua _1fragemox _1fragemuw _7ozb2um _7ozb2ui _7ozb2uh"><input id="TextField6" name="phone" placeholder="Telefone celular" type="tel" aria-required="false" aria-labelledby="TextField6-label" autocomplete="tel" class="_7ozb2ur _7ozb2uq _1fragemn2 _1fragemur _1fragemq3 _1fragemtw _7ozb2uu _7ozb2ut _1fragemud _1fragemu8 _1fragemun _7ozb2u12 _7ozb2uw _7ozb2uv _1fragemqr _1fragemr3 _7ozb2u16 _7ozb2u1p _7ozb2us"><div class="_7ozb2u1n _7ozb2u1m _1fragemn2 _1fragemur _1fragemnz _1fragemp4 _7ozb2u1o"><div class="r0qqvk1 r0qqvk0 _1fragemn2 _1fragem3c r0qqvk4 _1fragem50 _1fragem6t _1fragemns _1fragem3c _1fragempa _1fragempf"><div class="Ls4zP"><div class="wTRvB"><img alt="BR" src="/cdn/shopifycloud/checkout-web/assets/c1/assets/br.DQKU8KoT.svg" role="img" class="sgqviy0 _1fragem32 _1fragemlo _1fragemly"></div><span class="a8x1wu2 a8x1wu1 _1fragemq3 _1fragem2x _1fragemly _1fragemlo _1fragemue _1fragemuj _1fragemu8 a8x1wu9 a8x1wui a8x1wum a8x1wuk _1fragem32 a8x1wup a8x1wuo a8x1wuw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false" aria-hidden="true" class="a8x1wuy a8x1wux _1fragem32 _1fragemq3 _1fragemly _1fragemlo _1fragemp8"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.75 7.354 9.396a.5.5 0 0 1-.708 0L2 4.75"></path></svg></span><select aria-label="Código do país do número de telefone" name="phone_country_select" class="KHvfK"><option value="AF">Afeganistão(+93)</option><option value="ZA">África do Sul(+27)</option><option value="AL">Albânia(+355)</option><option value="DE">Alemanha(+49)</option><option value="AD">Andorra(+376)</option><option value="AO">Angola(+244)</option><option value="AI">Anguila(+1)</option><option value="AG">Antígua e Barbuda(+1)</option><option value="SA">Arábia Saudita(+966)</option><option value="DZ">Argélia(+213)</option><option value="AR">Argentina(+54)</option><option value="AM">Armênia(+374)</option><option value="AW">Aruba(+297)</option><option value="AU">Austrália(+61)</option><option value="AT">Áustria(+43)</option><option value="AZ">Azerbaijão(+994)</option><option value="BS">Bahamas(+1)</option><option value="BD">Bangladesh(+880)</option><option value="BB">Barbados(+1)</option><option value="BH">Barein(+973)</option><option value="BE">Bélgica(+32)</option><option value="BZ">Belize(+501)</option><option value="BJ">Benin(+229)</option><option value="BM">Bermudas(+1)</option><option value="BY">Bielorrússia(+375)</option><option value="BO">Bolívia(+591)</option><option value="BA">Bósnia e Herzegovina(+387)</option><option value="BW">Botsuana(+267)</option><option value="BR">Brasil(+55)</option><option value="BN">Brunei(+673)</option><option value="BG">Bulgária(+359)</option><option value="BF">Burquina Faso(+226)</option><option value="BI">Burundi(+257)</option><option value="BT">Butão(+975)</option><option value="CV">Cabo Verde(+238)</option><option value="CM">Camarões(+237)</option><option value="KH">Camboja(+855)</option><option value="CA">Canadá(+1)</option><option value="QA">Catar(+974)</option><option value="KZ">Cazaquistão(+7)</option><option value="TD">Chade(+235)</option><option value="CL">Chile(+56)</option><option value="CN">China(+86)</option><option value="CY">Chipre(+357)</option><option value="VA">Cidade do Vaticano(+39)</option><option value="CO">Colômbia(+57)</option><option value="KM">Comores(+269)</option><option value="CD">Congo - Kinshasa(+243)</option><option value="KR">Coreia do Sul(+82)</option><option value="CR">Costa Rica(+506)</option><option value="CI">Costa do Marfim(+225)</option><option value="HR">Croácia(+385)</option><option value="CW">Curaçao(+599)</option><option value="DK">Dinamarca(+45)</option><option value="DJ">Djibuti(+253)</option><option value="DM">Dominica(+1)</option><option value="EG">Egito(+20)</option><option value="SV">El Salvador(+503)</option><option value="AE">Emirados Árabes Unidos(+971)</option><option value="EC">Equador(+593)</option><option value="ER">Eritreia(+291)</option><option value="SK">Eslováquia(+421)</option><option value="SI">Eslovênia(+386)</option><option value="ES">Espanha(+34)</option><option value="SZ">Essuatíni(+268)</option><option value="US">Estados Unidos(+1)</option><option value="EE">Estônia(+372)</option><option value="ET">Etiópia(+251)</option><option value="FJ">Fiji(+679)</option><option value="PH">Filipinas(+63)</option><option value="FI">Finlândia(+358)</option><option value="FR">França(+33)</option><option value="GA">Gabão(+241)</option><option value="GM">Gâmbia(+220)</option><option value="GH">Gana(+233)</option><option value="GE">Geórgia(+995)</option><option value="GI">Gibraltar(+350)</option><option value="GD">Granada(+1)</option><option value="GR">Grécia(+30)</option><option value="GL">Groenlândia(+299)</option><option value="GP">Guadalupe(+590)</option><option value="GT">Guatemala(+502)</option><option value="GG">Guernsey(+44)</option><option value="GY">Guiana(+592)</option><option value="GF">Guiana Francesa(+594)</option><option value="GN">Guiné(+224)</option><option value="GQ">Guiné Equatorial(+240)</option><option value="GW">Guiné-Bissau(+245)</option><option value="HT">Haiti(+509)</option><option value="HN">Honduras(+504)</option><option value="HK">Hong Kong, RAE da China(+852)</option><option value="HU">Hungria(+36)</option><option value="YE">Iêmen(+967)</option><option value="CX">Ilha Christmas(+61)</option><option value="NF">Ilha Norfolk(+672)</option><option value="AC">Ilha de Ascensão(+247)</option><option value="IM">Ilha de Man(+44)</option><option value="AX">Ilhas Aland(+358)</option><option value="KY">Ilhas Cayman(+1)</option><option value="CC">Ilhas Cocos (Keeling)(+891)</option><option value="CK">Ilhas Cook(+682)</option><option value="FO">Ilhas Faroé(+298)</option><option value="GS">Ilhas Geórgia do Sul e Sandwich do Sul(+500)</option><option value="FK">Ilhas Malvinas(+500)</option><option value="UM">Ilhas Menores Distantes dos EUA(+1)</option><option value="PN">Ilhas Pitcairn(+64)</option><option value="SB">Ilhas Salomão(+677)</option><option value="TC">Ilhas Turcas e Caicos(+1)</option><option value="VG">Ilhas Virgens Britânicas(+1)</option><option value="IN">Índia(+91)</option><option value="ID">Indonésia(+62)</option><option value="IQ">Iraque(+964)</option><option value="IE">Irlanda(+353)</option><option value="IS">Islândia(+354)</option><option value="IL">Israel(+972)</option><option value="IT">Itália(+39)</option><option value="JM">Jamaica(+1)</option><option value="JP">Japão(+81)</option><option value="JE">Jersey(+44)</option><option value="JO">Jordânia(+962)</option><option value="XK">Kosovo(+383)</option><option value="KW">Kuwait(+965)</option><option value="LA">Laos(+856)</option><option value="LS">Lesoto(+266)</option><option value="LV">Letônia(+371)</option><option value="LB">Líbano(+961)</option><option value="LR">Libéria(+231)</option><option value="LY">Líbia(+218)</option><option value="LI">Liechtenstein(+423)</option><option value="LT">Lituânia(+370)</option><option value="LU">Luxemburgo(+352)</option><option value="MO">Macau, RAE da China(+853)</option><option value="MK">Macedônia do Norte(+389)</option><option value="MG">Madagascar(+261)</option><option value="MY">Malásia(+60)</option><option value="MW">Malaui(+265)</option><option value="MV">Maldivas(+960)</option><option value="ML">Mali(+223)</option><option value="MT">Malta(+356)</option><option value="MA">Marrocos(+212)</option><option value="MQ">Martinica(+596)</option><option value="MU">Maurício(+230)</option><option value="MR">Mauritânia(+222)</option><option value="YT">Mayotte(+262)</option><option value="MX">México(+52)</option><option value="MM">Mianmar (Birmânia)(+95)</option><option value="MZ">Moçambique(+258)</option><option value="MD">Moldávia(+373)</option><option value="MC">Mônaco(+377)</option><option value="MN">Mongólia(+976)</option><option value="ME">Montenegro(+382)</option><option value="MS">Montserrat(+1)</option><option value="NA">Namíbia(+264)</option><option value="NR">Nauru(+674)</option><option value="NP">Nepal(+977)</option><option value="NI">Nicarágua(+505)</option><option value="NE">Níger(+227)</option><option value="NG">Nigéria(+234)</option><option value="NU">Niue(+683)</option><option value="NO">Noruega(+47)</option><option value="NC">Nova Caledônia(+687)</option><option value="NZ">Nova Zelândia(+64)</option><option value="OM">Omã(+968)</option><option value="NL">Países Baixos(+31)</option><option value="BQ">Países Baixos Caribenhos(+599)</option><option value="PA">Panamá(+507)</option><option value="PG">Papua-Nova Guiné(+675)</option><option value="PK">Paquistão(+92)</option><option value="PY">Paraguai(+595)</option><option value="PE">Peru(+51)</option><option value="PF">Polinésia Francesa(+689)</option><option value="PL">Polônia(+48)</option><option value="PT">Portugal(+351)</option><option value="KE">Quênia(+254)</option><option value="KG">Quirguistão(+996)</option><option value="KI">Quiribati(+686)</option><option value="GB">Reino Unido(+44)</option><option value="CF">República Centro-Africana(+236)</option><option value="DO">República Dominicana(+1)</option><option value="CG">República do Congo(+242)</option><option value="RE">Reunião(+262)</option><option value="RO">Romênia(+40)</option><option value="RW">Ruanda(+250)</option><option value="RU">Rússia(+7)</option><option value="EH">Saara Ocidental(+212)</option><option value="WS">Samoa(+685)</option><option value="SM">San Marino(+378)</option><option value="SH">Santa Helena(+290)</option><option value="LC">Santa Lúcia(+1)</option><option value="BL">São Bartolomeu(+590)</option><option value="KN">São Cristóvão e Névis(+1)</option><option value="MF">São Martinho(+590)</option><option value="PM">São Pedro e Miquelão(+508)</option><option value="ST">São Tomé e Príncipe(+239)</option><option value="VC">São Vicente e Granadinas(+1)</option><option value="SC">Seicheles(+248)</option><option value="SN">Senegal(+221)</option><option value="SL">Serra Leoa(+232)</option><option value="RS">Sérvia(+381)</option><option value="SG">Singapura(+65)</option><option value="SX">Sint Maarten(+1)</option><option value="SO">Somália(+252)</option><option value="LK">Sri Lanka(+94)</option><option value="SD">Sudão(+249)</option><option value="SS">Sudão do Sul(+211)</option><option value="SE">Suécia(+46)</option><option value="CH">Suíça(+41)</option><option value="SR">Suriname(+597)</option><option value="SJ">Svalbard e Jan Mayen(+47)</option><option value="TJ">Tadjiquistão(+992)</option><option value="TH">Tailândia(+66)</option><option value="TW">Taiwan(+886)</option><option value="TZ">Tanzânia(+255)</option><option value="CZ">Tchéquia(+420)</option><option value="IO">Território Britânico do Oceano Índico(+246)</option><option value="TF">Territórios Franceses do Sul(+262)</option><option value="PS">Territórios palestinos(+970)</option><option value="TL">Timor-Leste(+670)</option><option value="TG">Togo(+228)</option><option value="TK">Tokelau(+690)</option><option value="TO">Tonga(+676)</option><option value="TT">Trinidad e Tobago(+1)</option><option value="TA">Tristão da Cunha(+2908)</option><option value="TN">Tunísia(+216)</option><option value="TM">Turcomenistão(+993)</option><option value="TR">Turquia(+90)</option><option value="TV">Tuvalu(+688)</option><option value="UA">Ucrânia(+380)</option><option value="UG">Uganda(+256)</option><option value="UY">Uruguai(+598)</option><option value="UZ">Uzbequistão(+998)</option><option value="VU">Vanuatu(+678)</option><option value="VE">Venezuela(+58)</option><option value="VN">Vietnã(+84)</option><option value="WF">Wallis e Futuna(+681)</option><option value="ZM">Zâmbia(+260)</option><option value="ZW">Zimbábue(+263)</option></select></div></div></div></div></div></div><div class="_16s97g74v"></div><button type="button" class="_1m2hr9gf _1m2hr9ge _1fragemuo _1fragemn2 _1fragemp6 _1fragemu1 _1fragemuh _1fragemuj _1fragemu8 _1m2hr9g1i _1m2hr9g1f _1fragemuj _1fragemuh _1fragemu7 _1fragemtv _1m2hr9gi _1m2hr9gg _1fragem32 _1m2hr9g1x _1m2hr9g1b _1m2hr9g19 _1fragemq4 _1m2hr9g1k _1m2hr9g1j _1fragemu4"><span class="_1m2hr9gw _1m2hr9gv _1fragemtx _1fragemud _1fragemu7 _1fragemuk _1m2hr9gs _1m2hr9gq _1fragem3c _1fragem87 _1fragemtz">Adicionar instruções de entrega</span></button></div></div></div></div></div></div></div><div class="_1u2aa6m3 _1u2aa6ma _1u2aa6md _1u2aa6m8 yyi4nyg yyi4nyc _1fragemox _1fragemuw"><div class="_1u2aa6m10 _1u2aa6mx _1fragemn2 _1fragem41 _1fragem6o _1u2aa6m15 _1u2aa6m1d _1fragemp6"><div class="_6hzjvo3 _1fragemn2 _6hzjvoe"><input type="radio" id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f" name="shipping_methods" aria-describedby="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f-secondary shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f-details" class="_6hzjvo5 _6hzjvo4 _1fragemp6 _1fragem32 _1fragemud _1fragemu7 _1fragemuk _6hzjvo9 _6hzjvo7 _1fragemuw"></div><div><label for="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f" data-option-selected="false" class="_1u2aa6m1d _1fragemp6"><div class="_1fragem32 _1fragemn2 Is9PW"><p class="_1tx8jg70 _1fragemn2 _1tx8jg717 _1tx8jg71f _1tx8jg71h">Correios - SEDEX</p></div></label><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f-details"><p class="_1tx8jg70 _1fragemn2 _1tx8jg717 _1tx8jg71g _1tx8jg71h">3 a 4 dias úteis</p></div></div><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-bff2781ebe3c3fb46138c6b32c65757f-secondary" class="_1u2aa6me _1u2aa6mj"><strong translate="no" class="_19gi7yt0 _19gi7yto _19gi7yth _1fragempj _19gi7yt16 _19gi7yt1e _19gi7yt1p _1fragem3h notranslate">R$&nbsp;16,09</strong></div></div></div><div class="_1u2aa6m3 _1u2aa6ma _1u2aa6md _1u2aa6m8 yyi4nyg yyi4nyc _1fragemox _1fragemuw"><div class="_1u2aa6m10 _1u2aa6mx _1fragemn2 _1fragem41 _1fragem6o _1u2aa6m15 _1u2aa6m1d _1fragemp6"><div class="_6hzjvo3 _1fragemn2 _6hzjvoe"><input type="radio" id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d" name="shipping_methods" aria-describedby="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d-secondary shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d-details" class="_6hzjvo5 _6hzjvo4 _1fragemp6 _1fragem32 _1fragemud _1fragemu7 _1fragemuk _6hzjvo9 _6hzjvo7 _1fragemuw"></div><div><label for="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d" data-option-selected="false" class="_1u2aa6m1d _1fragemp6"><div class="_1fragem32 _1fragemn2 Is9PW"><p class="_1tx8jg70 _1fragemn2 _1tx8jg717 _1tx8jg71f _1tx8jg71h">Buslog - Rodoviário</p></div></label><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d-details"><p class="_1tx8jg70 _1fragemn2 _1tx8jg717 _1tx8jg71g _1tx8jg71h">3 a 4 dias úteis</p></div></div><div id="shipping_methods-d69305ff8a1a7dad9dfb434ccedcc1cd-c73b87e926a17c641222519d4785600d-secondary" class="_1u2aa6me _1u2aa6mj"><strong translate="no" class="_19gi7yt0 _19gi7yto _19gi7yth _1fragempj _19gi7yt16 _19gi7yt1e _19gi7yt1p _1fragem3h notranslate">R$&nbsp;23,54</strong></div></div></div></div></div></fieldset></div></div></div></div></div></div></div>

        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}

  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
      | where: 'pick_up_enabled', true
    -%}

    <pickup-availability
      class="product__pickup-availabilities quick-add-hidden"
      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
      data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          <span class="svg-wrapper">
            {{- 'icon-unavailable.svg' | inline_asset_content -}}
          </span>
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
