<div class="menu-drawer__navigation-container">
  <nav class="menu-drawer__navigation">
    <ul class="menu-drawer__menu has-submenu list-menu" role="list">
      {% comment %} Lista de links que sempre aparecem no topo do menu drawer {% endcomment %}
      {% assign fixed_links_titles = "Início,Entrar em contato,Todos os produtos,Quem somos,Pedidos" | split: ',' | compact %}

      {%- for link in section.settings.menu.links -%}
        {%- if fixed_links_titles contains link.title -%}
          <li>
            {%- if link.links != blank -%}
              <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                <summary
                  id="HeaderDrawer-{{ link.handle }}"
                  class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                >
                  {{ link.title | escape }}
                  <span class="svg-wrapper">
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                  </span>
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </summary>
                <div
                  id="link-{{ link.handle | escape }}"
                  class="menu-drawer__submenu has-submenu gradient motion-reduce"
                  tabindex="-1"
                >
                  <div class="menu-drawer__inner-submenu">
                    <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                      <span class="svg-wrapper">
                         {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                      {{ link.title | escape }}
                    </button>
                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a
                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                              href="{{ childlink.url }}"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                              <summary
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                              >
                                {{ childlink.title | escape }}
                                <span class="svg-wrapper">
                                   {{- 'icon-arrow.svg' | inline_asset_content -}}
                                </span>
                                <span class="svg-wrapper">
                                   {{- 'icon-caret.svg' | inline_asset_content -}}
                                </span>
                              </summary>
                              <div
                                id="childlink-{{ childlink.handle | escape }}"
                                class="menu-drawer__submenu has-submenu gradient motion-reduce"
                              >
                                <button
                                  class="menu-drawer__close-button link link--text focus-inset"
                                  aria-expanded="true"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                                  </span>
                                  {{ childlink.title | escape }}
                                </button>
                                <ul
                                  class="menu-drawer__menu list-menu"
                                  role="list"
                                  tabindex="-1"
                                >
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a
                                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                        href="{{ grandchildlink.url }}"
                                        class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                        {% if grandchildlink.current %}
                                          aria-current="page"
                                        {% endif %}
                                      >
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </details>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </details>
            {%- else -%}
              <a
                id="HeaderDrawer-{{ link.handle }}"
                href="{{ link.url }}"
                class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ link.title | escape }}
              </a>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}

      {% comment %} Seções de categorias que não são links fixos {% endcomment %}
      {%- assign category_links_exist = false -%}
      {%- for link in section.settings.menu.links -%}
        {%- unless fixed_links_titles contains link.title -%}
          {%- assign category_links_exist = true -%}
          {%- break -%}
        {%- endunless -%}
      {%- endfor -%}

      {%- if category_links_exist -%}
        <li>
          <details id="Details-menu-drawer-categories">
            <summary
              id="HeaderDrawer-Categories"
              class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
            >
              Categorias
              <span class="svg-wrapper">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <div
              id="link-Categories"
              class="menu-drawer__submenu has-submenu gradient motion-reduce"
              tabindex="-1"
            >
              <div class="menu-drawer__inner-submenu">
                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                  <span class="svg-wrapper">
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                  </span>
                  Categorias
                </button>
                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                  {%- for link in section.settings.menu.links -%}
                    {%- unless fixed_links_titles contains link.title -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary
                              id="HeaderDrawer-{{ link.handle }}"
                              class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                              <span class="svg-wrapper">
                                {{- 'icon-arrow.svg' | inline_asset_content -}}
                              </span>
                              <span class="svg-wrapper">
                                {{- 'icon-caret.svg' | inline_asset_content -}}
                              </span>
                            </summary>
                            <div
                              id="link-{{ link.handle | escape }}"
                              class="menu-drawer__submenu has-submenu gradient motion-reduce"
                              tabindex="-1"
                            >
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <span class="svg-wrapper">
                                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                                  </span>
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a
                                          id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                          href="{{ childlink.url }}"
                                          class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                          {% if childlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                          <summary
                                            id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                          >
                                            {{ childlink.title | escape }}
                                            <span class="svg-wrapper">
                                               {{- 'icon-arrow.svg' | inline_asset_content -}}
                                            </span>
                                            <span class="svg-wrapper">
                                               {{- 'icon-caret.svg' | inline_asset_content -}}
                                            </span>
                                          </summary>
                                          <div
                                            id="childlink-{{ childlink.handle | escape }}"
                                            class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                          >
                                            <button
                                              class="menu-drawer__close-button link link--text focus-inset"
                                              aria-expanded="true"
                                            >
                                              <span class="svg-wrapper">
                                                {{- 'icon-arrow.svg' | inline_asset_content -}}
                                              </span>
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul
                                              class="menu-drawer__menu list-menu"
                                              role="list"
                                              tabindex="-1"
                                            >
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a
                                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                                    href="{{ grandchildlink.url }}"
                                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                    {% if grandchildlink.current %}
                                                      aria-current="page"
                                                    {% endif %}
                                                  >
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a
                            id="HeaderDrawer-{{ link.handle }}"
                            href="{{ link.url }}"
                            class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                            {% if link.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endunless -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </details>
        </li>
      {%- endif -%}
    </ul>
  </nav>
</div>

{%- assign promo_collection_handle = 'promocoes' -%} {# Defina o handle da sua coleção de promoções aqui #}
{%- assign promo_collection = collections[promo_collection_handle] -%}

{%- if promo_collection.products.size > 0 -%}
  <div class="promo-carousel-container">
    <h3 class="promo-carousel-title">Ofertas do Dia</h3>
    <div class="promo-carousel" id="PromoCarousel">
      {%- for product in promo_collection.products -%}
        <a href="{{ product.url }}" class="promo-card">
          {%- if product.featured_image -%}
            <img
              src="{{ product.featured_image | img_url: '100x100', crop: 'center' }}"
              alt="{{ product.featured_image.alt | escape }}"
              width="100"
              height="100"
              loading="lazy"
            >
          {%- endif -%}
          <span class="promo-card-title">{{ product.title | truncatewords: 3 }}</span>
        </a>
      {%- endfor -%}
    </div>
  </div>

  <style>
    .promo-carousel-container {
      margin-top: 20px;
      padding: 10px;
      border-top: 1px solid var(--color-foreground-5); /* Linha divisória */
      text-align: center;
    }

    .promo-carousel-title {
      font-size: 1.1em;
      margin-bottom: 10px;
      color: var(--color-foreground);
    }

    .promo-carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Garante que apenas um card seja visível por vez */
      height: 120px; /* Altura suficiente para o card e título */
      position: relative;
    }

    .promo-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: inherit;
      min-width: 100px; /* Largura mínima do card */
      max-width: 100px; /* Largura máxima do card */
      height: 100px; /* Altura do card para proporção 1:1 */
      border: 1px solid var(--color-foreground-5);
      border-radius: var(--media-border-radius); /* Bordas arredondadas */
      background-color: var(--color-background);
      box-shadow: var(--shadow-down-1);
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.9); /* Inicia menor e centralizado */
      opacity: 0;
    }

    .promo-card.active {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      z-index: 1; /* Garante que o card ativo esteja acima */
    }

    .promo-card img {
      width: 80px; /* Ajusta o tamanho da imagem dentro do card */
      height: 80px;
      object-fit: cover;
      border-radius: var(--media-border-radius); /* Bordas arredondadas para a imagem */
    }

    .promo-card-title {
      font-size: 0.8em;
      text-align: center;
      margin-top: 4px;
      word-break: break-word;
      line-height: 1.2;
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const carousel = document.getElementById('PromoCarousel');
      if (!carousel) return;

      const cards = Array.from(carousel.querySelectorAll('.promo-card'));
      let currentIndex = 0;

      function showCard(index) {
        cards.forEach((card, i) => {
          card.classList.remove('active');
          if (i === index) {
            card.classList.add('active');
          }
        });
      }

      function nextCard() {
        currentIndex = (currentIndex + 1) % cards.length;
        showCard(currentIndex);
      }

      // Inicializa o carrossel mostrando o primeiro card
      if (cards.length > 0) {
        showCard(currentIndex);
        // Inicia a rotação automática se houver mais de um card
        if (cards.length > 1) {
          setInterval(nextCard, 5000); // Roda a cada 5 segundos
        }
      }
    });
  </script>
{%- else -%}
  <div class="promo-carousel-container">
    <p class="promo-carousel-empty">Nenhum produto encontrado na coleção '{{ promo_collection_handle }}'.</p>
  </div>
{%- endif -%}