<section class="parallax-advanced" style="height: {{ section.settings.height }}vh;">
  <div class="parallax-layer parallax-bg" style="background-image: url({{ section.settings.background_image | img_url: '2048x' }});"></div>
  
  <div class="parallax-layer parallax-fg">
    <img src="{{ section.settings.foreground_image | img_url: '800x' }}" alt="Primeiro Plano">
  </div>
  
  <div class="parallax-content">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
  </div>
</section>
