{% schema %}
{
  "name": "Stories Custom",
  "tag": "section",
  "class": "section-stories",
  "settings": [],
  "presets": [
    {
      "name": "Stories"
    }
  ]
}
{% endschema %}

<div class="custom-stories-carousel">
  {% assign stories = shop.metaobjects.stories.values | sort: "title" %}

  {% if stories.size > 0 %}
    <div class="stories-wrapper">
      {% for story in stories %}
        <a href="{{ story.link }}" 
           class="story-item" 
           data-index="{{ forloop.index0 }}" 
           data-duration="5000" 
           tabindex="0" 
           aria-label="Abrir story {{ story.title | escape }}"
           {% if story.imagem %}
             data-image="{{ story.imagem | img_url: 'master' }}"
           {% endif %}
           {% if story.video %}
             data-video="{{ story.video }}"
           {% endif %}
        >
          {% if story.imagem %}
            <div class="story-avatar-gradient">
              <img 
                src="{{ story.imagem | image_url: width: 80, height: 80 }}" 
                alt="{{ story.title | escape }}" 
                loading="lazy" 
                width="80" 
                height="80"
                />
            </div> 
          {% elsif story.video %}
            <div class="story-avatar-gradient"> 
              <video 
                src="{{ story.video }}" 
                loading="lazy" 
                width="80" 
                height="80" 
                muted
                playsinline
                preload="metadata"
              ></video>
            </div>
          {% endif %}
          <span class="story-title">{{ story.title }}</span>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-stories">Nenhum story disponível no momento.</p>
  {% endif %}
</div>


{{ 'stories.css' | asset_url | stylesheet_tag }}
{{ 'stories.js' | asset_url | script_tag }}
